# keys here
FIREWORKS_API_KEY=keyhere_butweareverypoor

# ingestor overrides
# FRAMES_OUTPUT_DIR=/tmp/frames
# WHISPER_MODEL=whisper-v3

# extractor overrides
# TPM_LIMIT=200000
# GEMMA_MODEL=accounts/fireworks/models/gemma-4-26b-a4b-it

# compressor overrides
# E4B_MODEL=accounts/fireworks/models/gemma-2-9b-it

# synthesizer overrides
# GEMMA_31B_MODEL=accounts/fireworks/models/gemma-4-31b-it
